.container{
    font-size: 1.3em;
}
.about{
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    padding: 0% 25px;
}
.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 15px;
}
.img{
    max-width: 500px;
}