.container{
    margin: 10% 0%;
    font-size: 1.3em;
    /* width: 100%; */
}
.sections{
    display: flex;
    padding: 2% 6%;
    align-items: flex-start;
}
.text{
    flex: 1.5;
    margin: 0%;
    text-align: justify;
    background-color: rgba(71, 61, 139, 0.248);
    border-radius: 5px;
    padding: 1%;
}
/* .form{
    flex: 2;
    display: flex;
    gap: 6px;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
} */
.form{
  flex: 2;
  display: grid;
    gap: 6px;
    margin-top: 10px;
    /* flex-direction: column; */
    width: 100%;
    justify-items: end;
    justify-content: center;
    align-items: center;
}
.formdiv{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
}
.input{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border-radius: 6px 0px 6px 6px;
    background-color: rgba(255, 255, 255, 0.384);
}
.textarea{
  border-radius: 6px 0px 6px 6px;
    width: 298px;
    height: auto;
    margin-left: 10px;
    resize:none;
  min-height: 80px; 
  max-height: 160px;
  background-color: rgba(255, 255, 255, 0.384);

}
.send{
  border-radius: 5px;
 background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 16px;
  transition: all 0.3s ease;
}
.send:hover {
  background: url('https://thumbs.gfycat.com/DimwittedScarceDutchsmoushond-max-1mb.gif') center center no-repeat;
  cursor: pointer;
  /* color: #7e1919da;
  border: 1px solid #e0dcdcda */
}
@media (max-width: 768px) {
    .sections {
      flex-direction: column;
      align-items: center;
    }
  }
@media (max-width: 425px) {
  .form{
    flex: 2;
    display: flex;
    gap: 6px;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
}
    .formdiv {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .formdiv label {
      margin-bottom: 5px;
    }
  
    .input,
    .textarea {
      width: 100%;
    }
  }