.container{
    margin: 10% 0%;
}
.sections{
    display: flex;
    padding: 2% 6%;
    align-items: flex-start;
}
.text{
    flex: 1.5;
    margin: 0%;
    text-align: justify;
    background-color: rgba(71, 61, 139, 0.248);
    border-radius: 5px;
    padding: 1%;
}
.form{
    flex: 2;
    display: flex;
    gap: 6px;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
}
.formdiv{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
}
.input{
    width: 300px;
    margin-left: 10px;
}
.textarea{
    width: 300px;
    height: auto;
    margin-left: 10px;
    resize:none;
  min-height: 70px; 
  max-height: 160px;
}
@media (max-width: 768px) {
    .sections {
      flex-direction: column;
      align-items: center;
    }
  }
@media (max-width: 425px) {
    .formdiv {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .formdiv label {
      margin-bottom: 5px;
    }
  
    .input,
    .textarea {
      width: 100%;
    }
  }