.container{
    font-size: 1.3em;
}
.about{
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    padding: 0% 5%;
}
.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}