.projects{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    gap: 15px;
}
.container{
    width: 100%;
    font-size: 1.3em;
}
@media screen and  (min-width: 700px){
    .projects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(500px, auto);
        padding: 5%;
    }
}